<div class="row">
    <div class="col-md-3">
        <input type="search" class="form-control" ng-model="elementSearch" placeholder="test"></input>
    </div>
</div>
<br>
<div ng-repeat="element in elements | filter:elementSearch" class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><{{element.name}}> - {{element.desc}}</div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Attributes</h3>
                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/{{element.name}}#Attributes" target="_blank">MDN</a>
                        <ul ng-repeat="attr in element.attributes">
                            <li ><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/{{element.name}}#attr-{{attr}}">{{attr}}</li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <h3>Notes</h3>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>
