
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <input ng-model="eventSearch" type="search" placeholder="search" class="form-control"></input>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="list-group">
                <a ng-repeat="event in events | filter:eventSearch" href="https://developer.mozilla.org/en-US/docs/Web/Events{{event.url}}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{event.name}} ({{event.type}}, {{event.spec}})</h4>
                    <p class="list-group-item-text">{{event.fired}}</p>
                </a>
            </div>
        </div>
    </div>
</div>
